<h1>Login</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
            
            <%= f.label :username %>
            <%= f.email_field :username, class: 'form-control'%>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control'%>
            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>记住我</span>
            <% end %>
            <%= f.submit "Login", class: "btn btn-primary", style:"margin-top:10px" %>
        <% end %>
        
        <p>新用户? <%= link_to "现在注册", reg_path%></p>
    </div>
</div>